clang-log/
*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
*.dSYM
.*.swp
.*.swo
*.un~
Makefile
*automoc.cpp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
qt-path
vaccine/CTestTestfile.cmake
vaccine/Testing/
vaccine/tests/01_linked_unit
Testing
config.h
*.json.h
