clang-log/
*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
*.dSYM
.*.swp
.*.swo
*.un~
Makefile
*automoc.cpp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
qt-path
vaccine/CTestTestfile.cmake
vaccine/Testing/
vaccine/tests/01_linked_unit
Testing
config.h
*.json.h
vaccine/qnject_swagger_json
install_manifest.txt
vaccine/tests/swagger.json
moc_*.cpp
vaccine/tests/qt_testapp/qt_testapp
*.pro.user
ui_*.h
build-qt_testapp*
